@page
@using Anyor.Domains.User.Models
@using Anyor.Common.Utils
@model Admin.Web.Pages.Users.UsersIndexModel

@{
    ViewBag.Title = "Люди";
    var users = ViewData["Users"]!=null ? (List<User>)ViewData["Users"] : new List<User>();
}

 <!--start content-->
    <main class="page-content" id="main">
      <!--breadcrumb-->
      <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Люди</div>
        <div class="ps-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
              <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Люди Анийора</li>
            </ol>
          </nav>
        </div>
        <div class="ms-auto">
          <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
              <a class="dropdown-item" href="javascript:;">Another action</a>
              <a class="dropdown-item" href="javascript:;">Something else here</a>
              <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
            </div>
          </div>
        </div>
      </div>
      <!--end breadcrumb-->
      @Html.AntiForgeryToken();
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <h5 class="mb-0">Люди Анийора</h5>
            <form class="ms-auto position-relative">
              <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
              <input class="form-control ps-5" type="text" placeholder="search">
            </form>
          </div>
          <div class="table-responsive mt-3">
            <table class="table align-middle">
              <thead class="table-secondary">
              <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Почта</th>
                <th>Телефон</th>
                <th>ВК</th>
                <th>Телеграм</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
                 
              @foreach (var user in users)
              {
                <tr>
                  <td>1</td>
                  <td>
                    <div class="d-flex align-items-center gap-3 cursor-pointer" 
                         v-on:click="goToDetails('@user.Id')">
                      <img src="https://www.gravatar.com/avatar/@Hashing.CalculateMd5Hash(user.Email)?s=80" class="rounded-circle" width="44" height="44" alt="">
                      <div class="">
                        <p class="mb-0">@(string.IsNullOrEmpty(user.FirstName) ? user.Username : user.FirstName + " " + user.LastName)</p>
                      </div>
                    </div>
                  </td>
                  <td>@user.Email</td>
                  <td>@user.Phone</td>
                  <td>@user.VkId</td>
                  <td>@user.Telegram</td>
                  <td>
                    <div class="table-actions d-flex align-items-center gap-3 fs-6">
                      <a href="/users/details/@user.Id" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i class="bi bi-pencil-fill"></i></a>
                      <a href="javascript:;" 
                         class="text-danger" 
                         data-bs-toggle="tooltip" 
                         data-bs-placement="bottom"
                         v-on:click="removeUser('@user.Id')"
                         title="Delete">
                        <i class="bi bi-trash-fill"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
<!--end page main-->

<script>
  var app2 = new Vue({
    el: '#main',
    data: {
      message: 'Вы загрузили эту страницу: ' + new Date().toLocaleString()
    },
    
    methods: {
        goToDetails: function (userId) {
          window.location.href = "/users/edit/" + userId;
        },
        removeUser: function (userId){  
          if (confirm("Точно?")) {
            openWindowWithPost(
                    "/users/delete/"+userId, 
                    $('input:hidden[name="__RequestVerificationToken"]').val(), 
                    null);
          } 
        }
      }
})

</script>