@page "{id}"
@model Public.WebStore.Pages.Store.ProductModel
@{
    ViewBag.Title = Model.Product.Title;
    Layout = "~/Pages/Shared/_PureLayout.cshtml";
}

<!--== Start Shop Area ==-->
    <section class="product-single-area">
      <div class="container">
        <div class="row">
          <div class="single-product-info" style="margin-top: 0px">
            <form method="POST">
              <div class="quick-product-action justify-content-center">
                <div class="action-top">
                  <button class="btn btn-theme">Оплатить @Model.Product.Price ₽</button>
                </div>
              </div>
            </form>  
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0">
            <div class="single-product-slider">
              <div class="single-product-thumb">
                <div class="swiper-container single-product-thumb-slider">
                  <div class="swiper-wrapper">
                    @foreach (var img in Model.Product.Images)
                    {
                      <div class="swiper-slide zoom_ zoom-hover_">
                        <div class="thumb-item">
                          <a class="lightbox-image" data-fancybox="gallery" href="@img.FullUrl">
                            <img src="@img.FullUrl" alt="Image-HasTech">
                          </a>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="single-product-nav">
                <div class="swiper-container single-product-nav-slider">
                  <div class="swiper-wrapper">
                    @foreach (var img in Model.Product.Images)
                    {
                      <div class="swiper-slide">
                        <div class="nav-item">
                          <img src="@img.PreviewUrl" alt="Image-HasTech">
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-product-info">
              <h4 class="title">@Model.Product.Title</h4>
              <div class="prices">
                <span class="price">@Model.Product.Price ₽</span>
              </div>
              <div class="single-product-featured .d-sm-none .d-md-block">
                <ul>
                  <li><i class="fa fa-check"></i> Вкусно</li>
                  <li><i class="fa fa-check"></i> Полезно</li>
                  <li><i class="fa fa-check"></i> Красиво</li>
                </ul>
              </div>
              <div class="product-desc">@Model.Product.Description</div>
              <form method="POST">
                <div class="quick-product-action">
                  <div class="action-top">
                    <button class="btn btn-theme">Оплатить @Model.Product.Price ₽</button>
                  </div>
                </div>
              </form>

              <div class="widget">
                <h3 class="title">Артикул:</h3>
                <div class="widget-tags">
                  <span>@Model.Product.Id</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 30px"></div>
      </div>
    </section>
    <!--== End Shop Area ==-->