@page "{category?}"
@model Public.WebStore.Pages.Store.ProductModel
@{
    ViewBag.Title = Model.Product.Title;
}

<!--== Start Shop Area ==-->
    <section class="product-single-area">
      <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0">
          <div class="single-product-slider">
            <div class="single-product-thumb">
              <div class="swiper-container single-product-thumb-slider">
                <div class="swiper-wrapper">
                  @foreach (var image in Model.Product.Images)
                  {
                    <div class="swiper-slide zoom zoom-hover">
                      <div class="thumb-item">
                        <a class="lightbox-image" data-fancybox="gallery" href="https://anyor.bitrix24.shop/upload/resize_cache/iblock/253/3ufb4t0ksqj67xu6diiylvm3o2cx09d1/800_800_1/lemon-cake-1.jpeg">
                          <img src="https://anyor.bitrix24.shop/upload/resize_cache/iblock/253/3ufb4t0ksqj67xu6diiylvm3o2cx09d1/800_800_1/lemon-cake-1.jpeg" alt="Image-HasTech">
                        </a>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
            <div class="single-product-nav">
              <div class="swiper-container single-product-nav-slider">
                <div class="swiper-wrapper">
                  @foreach (var image in Model.Product.Images)
                  {
                    continue;
                    <div class="swiper-slide">
                      <div class="nav-item">
                        <img src="@image.FullUrl" alt="@Model.Product.Title @image.Id">
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col-lg-6">
            <div class="single-product-info">
              <h4 class="title">@Model.Product.Title</h4>
              <div class="prices">
                <span class="price">@Model.Product.Price ₽</span>
              </div>
              <div class="single-product-featured">
                <ul>
                  <li><i class="fa fa-check"></i> Вкусно</li>
                  <li><i class="fa fa-check"></i> Полезно</li>
                  <li><i class="fa fa-check"></i> Красиво</li>
                </ul>
              </div>
              <div class="product-desc">@Model.Product.Description</div>
              <div class="quick-product-action">
                <div class="action-top">
                  <button class="btn btn-theme">Оплатить</button>
                </div>
              </div>
              <div class="widget">
                <h3 class="title">Артикул:</h3>
                <div class="widget-tags">
                  <span>@Model.Product.Id</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Shop Area ==-->